html,body {
	font-family: 'MontSerrat';
	color: #fff;
	padding: 0;
	margin: 0
}
#canvas {
	/*ukuran sudah ditentukan*/
	width: 750px;
	height: 750px;
	background: #000;
}
.bannerMulai,
.bannerUlangi {
	position: absolute;
	top: 300px;
	left: 180px;
	text-align: center;
}
.bannerUlangi {
	display: none;
}
h1 {
	color: #f00
}
.board {
	position: absolute;
	top: 10px;
	left: 10px;
}
#btnMulai {
	color: #f00;
	cursor: pointer;
	font-weight: bold;
}
#btnUlangi {
	background: #fff;
	color: #000;
	border-radius: 5px;
	padding: 5px 15px;
	cursor: pointer;
}


